@use './varibles' as vars;

@mixin headerContainer {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: vars.$screen-max-width;
        margin: 0 auto;
    }
}

@mixin container {
    .container {
        max-width: 100vw;
        margin: 1px 1px 1px 1px;
        padding: 60px;
        padding: 60px 20px;
        background: lightgray;
        color: blue;
        min-height: 600px;
    }
}