@use '../../../styleConstants/varibles' as vars;
@use '../../../styleConstants/mixins' as mixins;
nav
{
  background-color:vars.$nav_header_background;
  color: vars.$nav_header_font_color;
  padding: 1rem;
}

@include mixins.headerContainer;


.logo h2
{
  margin: 0;
}

.nav-links
{
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a
{
  color: vars.$nav_header_font_color;
  text-decoration: none;
}

.nav-links a:hover
{
  text-decoration: underline;
}